.Container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    &-content {
        display: flex;
        flex-direction: column;
    }

    &-options {
        margin: 0 40px;
        width: 80%;
    }

    &-table {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }
}
